@font-face {
	font-family: Inter;
	font-display: swap;
	src: url("../fonts/Inter-UI-BlackItalic.woff2") format("woff2"),
		url("../fonts/Inter-UI-BlackItalic.woff") format("woff");
	font-weight: 400;
	font-style: italic;
}
@font-face {
	font-family: K2D;
	font-display: swap;
	src: url("../fonts/K2D-ExtraBold.woff2") format("woff2"), url("../fonts/K2D-ExtraBold.woff") format("woff");
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: K2D;
	font-display: swap;
	src: url("../fonts/K2D-Regular.woff2") format("woff2"), url("../fonts/K2D-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
